{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "API para integración con la pasarela de pagos VisaNet",
    "description": "API que permite la integración con la pasarela de pagos VisaNet",
    "termsOfService": "http://www.visanet.com.pe",
    "contact": {
      "name": "VisaNet",
      "url": "http://www.visanet.com.pe",
      "email": "integraciones.visanet@necomplus.com"
    },
    "x-logo": {
      "url": "https://www.visanet.com.pe/cyberwow/assets/img/visanet-logotipo.png",
      "altText": "Logo de VisaNet"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "externalDocs": {
    "description": "Página Web de VisaNet",
    "url": "http://www.visanet.com.pe"
  },
  "tags": [
    {
      "name": "Seguridad",
      "description": "RESTful API para obtener el token de seguridad de acceso a las demás APIs"
    },
    {
      "name": "Autorización",
      "description": "RESTful API para la autorización de operaciones"
    },
    {
      "name": "Anulación",
      "description": "RESTful API para la reversa o anulación de operaciones"
    },
    {
      "name": "Confirmación",
      "description": "RESTful API para la confirmación de operaciones"
    },
    {
      "name": "Consulta",
      "description": "RESTful API para la consulta de operaciones"
    },
    {
      "name": "Validación",
      "description": "RESTful API para la validación de una tarjeta"
    },
    {
      "name": "Antifraude",
      "description": "RESTful API para la calificación de una venta"
    },
    {
      "name": "Elegibilidad DCC",
      "description": "RESTful API para la elegibilidad DCC"
    },
    {
      "name": "Bines",
      "description": "RESTful API para la consulta de Bines"
    },
    {
      "name": "Devoluciones",
      "description": "RESTful API para gestionar las solicitudes de devolución"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Autenticación",
      "tags": [
        "Seguridad"
      ]
    },
    {
      "name": "Transaccional",
      "tags": [
        "Autorización",
        "Anulación",
        "Confirmación",
        "Consulta",
        "Validación",
        "Antifraude"
      ]
    },
    {
      "name": "BackOffice",
      "tags": [
        "Devoluciones"
      ]
    },
    {
      "name": "General",
      "tags": [
        "Elegibilidad DCC",
        "Bines"
      ]
    }
  ],
  "servers": [
    {
      "url": "https://apitestenv.vnforapps.com",
      "description": "Url que corresponde al entorno de integración"
    },
    {
      "url": "https://apiprod.vnforapps.com",
      "description": "Url que corresponde al entorno de producción"
    }
  ],
  "security": [
    {
      "BasicAuth": []
    },
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Token de acceso obtenido en la respuesta del api.security"
      },
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Credenciales de acceso para api.security"
      }
    },
    "schemas": {
      "CurrencyConversion": {
        "type": "object",
        "description": "Entidad que representa información relacionada a la conversión DCC",
        "required": [
          "accepted",
          "eligibilityCode",
          "currencyCode",
          "currencyCodeAlpha",
          "amount",
          "exponent",
          "exchangeRate",
          "wholeSaleRate",
          "markup",
          "rateSource",
          "rateDate",
          "rateTime",
          "status",
          "signature"
        ],
        "properties": {
          "accepted": {
            "description": "Indica si en la venta se usará o no DCC",
            "type": "boolean",
            "example": true
          },
          "eligibilityCode": {
            "description": "Valor retornado en la respuesta a la consulta de elegibilidad. Puede ser uno de los siguientes valores:\n- `0` Requerimiento DCC ha sido aceptado\n- `1` El requerimiento DCC ha sido rechazado basado en un error. Verifique los códigos de error para más detalle\n- `2` La tarjeta no fue encontrada en la CRT por lo que no puede ser considerada para DCC\n- `3` DCC no está permitido para la tarjeta\n- `4` No se requirió el servicio DCC\n",
            "type": "string",
            "minLength": 1,
            "maxLength": 1,
            "example": "0",
            "enum": [
              0,
              1,
              2,
              3,
              4
            ]
          },
          "currencyCode": {
            "description": "Código de moneda DCC. El código de moneda aplicable al PAN. Este valor se encuentra en la búsqueda CRT (ISO 4217)",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "840"
          },
          "currencyCodeAlpha": {
            "description": "Código de moneda DCC en texto. El código de moneda expresado en texto, esto ayudará a la presentación de la oferta DCC",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "USD"
          },
          "amount": {
            "description": "Importe en moneda DCC. El monto en la moneda extranjera en la menor unidad de la moneda extranjera",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 3.14
          },
          "exponent": {
            "description": "El exponente extranjero utilizado en dar formato al monto",
            "type": "integer",
            "format": "int32",
            "example": 2
          },
          "exchangeRate": {
            "description": "Factor por el que el monto local es multiplicado para obtener el monto DCC",
            "type": "number",
            "format": "double",
            "multipleOf": 0.0001,
            "example": 0.3136
          },
          "wholeSaleRate": {
            "description": "Tasa de conversión antes de que se aplique la comisión",
            "type": "number",
            "format": "double",
            "multipleOf": 1e-15,
            "example": 0.302995169082125
          },
          "markup": {
            "description": "Margen de beneficio aplicado a toda la tasa de venta",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 3.5
          },
          "rateSource": {
            "description": "Nombre del origen de las tarifas extranjeras",
            "type": "string",
            "minLength": 1,
            "maxLength": 12,
            "example": "Fintrax"
          },
          "rateDate": {
            "description": "Fecha en la que se obtuvo el tipo de cambio. Expresado como yyMMdd",
            "type": "string",
            "minLength": 6,
            "maxLength": 6,
            "example": "190514"
          },
          "rateTime": {
            "description": "Hora en la que se obtuvo el tipo de cambio. Expresado como hhMMss",
            "type": "string",
            "minLength": 6,
            "maxLength": 6,
            "example": "142616"
          },
          "status": {
            "description": "Estado obtenido en la consulta de elegibilidad DCC",
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "example": "Authorized",
            "enum": [
              "Authorized",
              "Not Authorized"
            ]
          },
          "signature": {
            "description": "Llave generada en la consulta de elegibilidad DCC",
            "type": "string",
            "minLength": 41,
            "maxLength": 41,
            "example": "662E6F89723CCFF2AF4928FB05A2D2F6B6813974"
          }
        }
      },
      "OrderAuthorizationRQ": {
        "type": "object",
        "description": "Entidad que representa la información del pedido",
        "required": [
          "purchaseNumber",
          "amount",
          "currency"
        ],
        "properties": {
          "tokenId": {
            "description": "Id del token de transacción obtenido en la respuesta a la validación antifraude o del formulario de pago. Es de ingreso obligatorio si se utilizó en un paso previo la API antifraude o el botón de pago",
            "type": "string",
            "minLength": 32,
            "maxLength": 32,
            "example": "DE2E3AF7C8494278AE3AF7C849027853"
          },
          "productId": {
            "description": "Código del producto para la afiliación. Es de ingreso obligatorio si se está registrando una afiliación recurrente",
            "type": "string",
            "minLength": 1,
            "maxLength": 10,
            "example": "320"
          },
          "purchaseNumber": {
            "description": "Número de pedido generado por el comercio",
            "type": "string",
            "minLength": 1,
            "maxLength": 12,
            "example": "1234567890"
          },
          "amount": {
            "description": "Importe del pedido autorizado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 12.35
          },
          "installment": {
            "description": "Número de cuotas en que se realizará el pago",
            "type": "integer",
            "format": "int32",
            "example": 2
          },
          "currency": {
            "description": "Código de moneda en la que se ejecuta la transacción",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "PEN",
            "enum": [
              "PEN",
              "USD"
            ]
          },
          "externalTransactionId": {
            "description": "Identificador único de transacción enviado por el comercio",
            "type": "string",
            "format": "uuid",
            "example": "76dda510-0088-4b82-bed2-4b4225187690"
          }
        }
      },
      "Card": {
        "type": "object",
        "description": "Entidad que representa información de la tarjeta",
        "required": [
          "cardNumber",
          "expirationMonth",
          "expirationYear"
        ],
        "properties": {
          "cardNumber": {
            "description": "Número de tarjeta",
            "type": "string",
            "minLength": 14,
            "maxLength": 16,
            "example": "4551478422045511"
          },
          "expirationMonth": {
            "description": "Mes de expiración de la tarjeta",
            "type": "integer",
            "format": "int32",
            "example": 12
          },
          "expirationYear": {
            "description": "Año de expiración de la tarjeta",
            "type": "integer",
            "format": "int32",
            "example": 2021
          },
          "cvv2": {
            "description": "Número de CVV2 de la tarjeta",
            "type": "string",
            "minLength": 3,
            "maxLength": 4,
            "example": "329"
          }
        }
      },
      "CardHolder": {
        "type": "object",
        "description": "Entidad que representa la información del tarjetahabiente",
        "required": [
          "firstName",
          "lastName",
          "email",
          "phoneNumber"
        ],
        "properties": {
          "firstName": {
            "description": "Nombres del tarjetahabiente",
            "type": "string",
            "minLength": 1,
            "maxLength": 25,
            "example": "Juan"
          },
          "lastName": {
            "description": "Apellidos del tarjetahabiente",
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "example": "Crespo"
          },
          "email": {
            "description": "Correo electrónico del tarjetahabiente. En entorno de integración se puede utilizar los siguientes correos para validación:\n- `cybersource@accept.com` La operación fue aceptada y puede enviarse a autorizar\n- `cybersource@reject.com` La operación fue rechazada por el módulo antifraude\n- `cybersource@review.com` La operación debe ser enviada a autenticación\n",
            "type": "string",
            "minLength": 1,
            "maxLength": 35,
            "example": "juan.c@latinmail.com"
          },
          "phoneNumber": {
            "description": "Teléfono del tarjetahabiente",
            "type": "string",
            "minLength": 1,
            "maxLength": 10,
            "example": "5112223333"
          },
          "documentType": {
            "description": "Tipo de documento del tarjetahabiente. Campo obligatorio para una operación tipo recurrente. Puede ser uno de los siguientes valores:\n- `0` DNI\n- `1` Canet de extranjería\n- `2` Pasaporte\n",
            "type": "string",
            "minLength": 1,
            "maxLength": 1,
            "example": "0",
            "enum": [
              0,
              1,
              2
            ]
          },
          "documentNumber": {
            "description": "Número de documento del tarjetahabiente. Campo obligatorio para una operación tipo recurrente",
            "type": "string",
            "minLength": 8,
            "maxLength": 12,
            "example": "40315149"
          }
        }
      },
      "Sponsored": {
        "type": "object",
        "description": "Entidad que representa información relacionada al comercio hijo. Es de ingreso obligatorio si se esta integrando un facilitador de pagos",
        "required": [
          "merchantId",
          "name",
          "mcci",
          "address",
          "phoneNumber"
        ],
        "properties": {
          "merchantId": {
            "description": "Código de comercio hijo",
            "type": "string",
            "minLength": 9,
            "maxLength": 9,
            "example": "406123567"
          },
          "name": {
            "description": "Nombre de comercio hijo",
            "type": "string",
            "minLength": 1,
            "maxLength": 25,
            "example": "Netflix"
          },
          "mcci": {
            "description": "MCC internacional de comercio hijo",
            "type": "string",
            "minLength": 4,
            "maxLength": 4,
            "example": "0425"
          },
          "address": {
            "description": "Dirección de comercio hijo",
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "example": "Av. Pardo 323 Lima Perú"
          },
          "phoneNumber": {
            "description": "Teléfono de comercio hijo",
            "type": "string",
            "minLength": 1,
            "maxLength": 10,
            "example": "2132300"
          }
        }
      },
      "Authentication": {
        "type": "object",
        "description": "Entidad que representa información relacionada a la autenticación en Verified by Visa. Es de ingreso obligatorio si el atributo channel es `pasarela` y el valor ECI obtenido en la autenticación es `ECI 05` o `ECI 06`",
        "required": [
          "eci",
          "xid",
          "cavv"
        ],
        "properties": {
          "eci": {
            "description": "Valor ECI del proceso de validación de la marca. Indica el resultado de la autenticación:\n- `05` Transacción autenticada\n- `06` Comercio intentó autenticación, pero TH no está participando\n",
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "example": "05",
            "enum": [
              5,
              6
            ]
          },
          "xid": {
            "description": "Valor XID del proceso de validación de la marca. Identificador único de la transacción",
            "type": "string",
            "minLength": 20,
            "maxLength": 20,
            "example": "55620190222103928509"
          },
          "cavv": {
            "description": "Valor CAVV del proceso de validación de la marca. Valor de verificación de la autenticación del titular de la tarjeta",
            "type": "string",
            "minLength": 40,
            "maxLength": 40,
            "example": "0000010148677336601400453067730000000000"
          }
        }
      },
      "Header": {
        "type": "object",
        "description": "Entidad que representa el encabezado de respuesta a la petición",
        "properties": {
          "ecoreTransactionUUID": {
            "description": "Identificador único de transacción para la plataforma",
            "type": "string",
            "format": "uuid",
            "example": "76dda510-0088-4b82-bed2-4b4225187690"
          },
          "ecoreTransactionDate": {
            "description": "Fecha de la operación expresada en formato UNIX TimeStamp",
            "type": "string",
            "example": 1550355747781
          },
          "millis": {
            "description": "Tiempo de ejecución de la operación",
            "type": "integer",
            "format": "int32",
            "example": 294
          }
        }
      },
      "Fulfillment": {
        "type": "object",
        "description": "Entidad que representa información complementaria al pedido",
        "properties": {
          "channel": {
            "description": "Canal desde donde se originó la operación. Puede ser uno de los siguientes valores:\n- `web` Si son operaciones realizadas con el botón de pago web\n- `mobile` Si son operaciones realizadas con la librería de pago app\n- `pasarela` Si son operaciones realizadas con la API de autorización para el producto comercio electrónico\n- `callcenter` Si son operaciones realizadas con la API de autorización para el producto telepago\n",
            "type": "string",
            "example": "pasarela",
            "enum": [
              "web",
              "mobile",
              "pasarela",
              "callcenter"
            ]
          },
          "merchantId": {
            "description": "Código de comercio VisaNet al cual pertenece la transacción",
            "type": "string",
            "minLength": 9,
            "maxLength": 9,
            "example": "341198210"
          },
          "terminalId": {
            "description": "Número de terminal asociado a la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 8,
            "example": "1"
          },
          "captureType": {
            "description": "Tipo de captura en el canal. Siempre es el valor `manual`",
            "type": "string",
            "minLength": 6,
            "maxLength": 6,
            "example": "manual"
          },
          "countable": {
            "description": "Indica si la venta es contable `true` o no contable `false`",
            "type": "boolean",
            "example": true
          },
          "fastPayment": {
            "description": "Indica si la venta es pago rápido `true` o no es pago rápido `false`",
            "type": "boolean",
            "example": false
          },
          "signature": {
            "description": "Código único generado por el sistema VisaNet al momento de la venta",
            "type": "string",
            "format": "uuid",
            "example": "2fe2272c-76ec-4526-ac53-f3b2df94d98b"
          }
        }
      },
      "DataMap": {
        "type": "object",
        "description": "Entidad que representa información complementaria del pedido",
        "properties": {
          "CURRENCY": {
            "description": "Código numérico de moneda en la que se ejecuta la transacción",
            "type": "string",
            "minLength": 4,
            "maxLength": 4,
            "example": "0604"
          },
          "ORIGINAL_DATETIME": {
            "description": "Fecha original de la venta expresada en formato nativo yyMMddHHmmSS",
            "type": "string",
            "example": "190223161321"
          },
          "TRANSACTION_DATE": {
            "description": "Fecha de la transacción expresada en formato nativo yyMMddHHmmSS",
            "type": "string",
            "example": "190216172227"
          },
          "TERMINAL": {
            "description": "Número de terminal asociado a la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 8,
            "example": "00000001"
          },
          "ACTION_CODE": {
            "description": "Código que identifica la acción a tomar o tomada, así como la razón de la misma. Define la respuesta a la petición de autorización realizada",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "000"
          },
          "TRACE_NUMBER": {
            "description": "Número asignado para identificar de forma unívoca a la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "77821"
          },
          "ORIGINAL_TRACE": {
            "description": "Número asignado a la venta para identificar de forma unívoca a la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "080154"
          },
          "ECI_DESCRIPTION": {
            "description": "Descripción del código ECI asociado a la autenticación de la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "example": "Transaccion no autenticada pero enviada en canal seguro"
          },
          "ECI": {
            "description": "Código ECI asociado a la autenticación de la transacción",
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "example": "07"
          },
          "CARD": {
            "description": "Número de tarjeta enmascarado usada en la venta",
            "type": "string",
            "minLength": 14,
            "maxLength": 16,
            "example": "457033******4330"
          },
          "MERCHANT": {
            "description": "Código de comercio VisaNet al cual pertenece la transacción",
            "type": "string",
            "minLength": 9,
            "maxLength": 9,
            "example": "341198210"
          },
          "STATUS": {
            "description": "Descripción del estado de la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "example": "Authorized",
            "enum": [
              "Authorized",
              "Not Authorized",
              "Confirmed",
              "Not Confirmed",
              "Verified",
              "Not Verified",
              "Voided",
              "Not Voided",
              "Reject",
              "Review"
            ]
          },
          "ADQUIRENTE": {
            "description": "Nombre de identificación del adquirente. Identifica el punto donde se origina la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "example": "visanet",
            "enum": [
              "visanet",
              "procesos-mc"
            ]
          },
          "BIN": {
            "description": "Número de BIN de la tarjeta usada en la venta. Son los 6 primeros dígitos de una tarjeta",
            "type": "string",
            "minLength": 6,
            "maxLength": 6,
            "example": "457033"
          },
          "BRAND": {
            "description": "Marca de la tarjeta usada en la venta",
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "example": "visa",
            "enum": [
              "visa",
              "amex",
              "mastercard",
              "dinersclub"
            ]
          },
          "SETTLEMENT": {
            "description": "Indica si la operación esta o no esta liquidada",
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "example": "Pending",
            "enum": [
              "Not Applicable",
              "Pending",
              "Automatic",
              "Completed"
            ]
          },
          "ACTION_DESCRIPTION": {
            "description": "Texto descriptivo de la autorización o denegación",
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "example": "Aprobado y completado con exito"
          },
          "ID_UNICO": {
            "description": "Identificador de la transacción asociado a la autorización",
            "type": "string",
            "minLength": 15,
            "maxLength": 15,
            "example": "990172014359425"
          },
          "AMOUNT": {
            "description": "Importe del pedido autorizado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": "12.35"
          },
          "PROCESS_CODE": {
            "description": "Código de proceso de la transacción",
            "type": "string",
            "minLength": 6,
            "maxLength": 6,
            "example": "980000"
          },
          "AUTHORIZED_AMOUNT": {
            "description": "Importe del pedido confirmado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": "12.35"
          },
          "TRANSACTION_ID": {
            "description": "Identificador de la transacción asociado a la autorización",
            "type": "string",
            "minLength": 15,
            "maxLength": 15,
            "example": "990172014359425"
          },
          "AUTHORIZATION_CODE": {
            "description": "Código de autorización asignado a la aprobación de la transacción por la entidad resolutora",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "170921"
          },
          "CARD_TOKEN": {
            "description": "Token identificador del objeto tokenizado",
            "type": "string",
            "minLength": 16,
            "maxLength": 16,
            "example": "7000010032209946"
          },
          "VAULT_BLOCK": {
            "description": "Valor del campo por el cual se tokenizo la tarjeta",
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "example": "jperez@visanet.com.pe"
          },
          "QUOTA_NUMBER": {
            "description": "Número de cuotas en que se realizó la venta",
            "type": "integer",
            "format": "int32",
            "example": "0"
          },
          "QUOTA_AMOUNT": {
            "description": "Importe aproximado del valor de cuota. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": "0.00"
          },
          "QUOTA_DEFERRED": {
            "description": "Indica si el pago en cuotas debe procesarse con pagos en diferido. `0`, el pago no se procesa en diferido y `1 o 2`, el pago se procesa en diferido",
            "type": "integer",
            "format": "int32",
            "example": "0"
          },
          "QUOTA_NI_PROGRAM": {
            "description": "Código de programa para cuota sin intereses",
            "type": "integer",
            "format": "int32",
            "example": "0"
          },
          "QUOTA_NI_TYPE": {
            "description": "Indicador de tipo de cobro para cuotas sin intereses. `0`, cobro como porcentaje y `1`, cobro como importe",
            "type": "integer",
            "format": "int32",
            "example": "0"
          },
          "QUOTA_NI_AMOUNT": {
            "description": "Valor asociado al tipo de cobro para cuotas sin intereses",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": "0.00"
          },
          "QUOTA_NI_DISCOUNT": {
            "description": "Porcentaje de descuento que corresponde al emisor por el programa cuota sin intereses",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": "0.00"
          },
          "QUOTA_NI_MESSAGE": {
            "description": "Mensaje asociado al cobro para cuota sin intereses",
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "example": ""
          }
        }
      },
      "OrderRS": {
        "type": "object",
        "description": "Entidad que representa la información del pedido",
        "properties": {
          "tokenId": {
            "description": "Id del token de transacción obtenido en la respuesta a la validación antifraude o del formulario de pago. Es de ingreso obligatorio si se utilizó en un paso previo la API antifraude o el botón de pago",
            "type": "string",
            "minLength": 32,
            "maxLength": 32,
            "example": "DE2E3AF7C8494278AE3AF7C849027853"
          },
          "productId": {
            "description": "Código del producto para la afiliación. Es de ingreso obligatorio si se está registrando una afiliación recurrente",
            "type": "string",
            "minLength": 1,
            "maxLength": 10,
            "example": "320"
          },
          "purchaseNumber": {
            "description": "Número de pedido generado por el comercio",
            "type": "string",
            "minLength": 1,
            "maxLength": 12,
            "example": "1234567890"
          },
          "amount": {
            "description": "Importe del pedido autorizado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 12.35
          },
          "installment": {
            "description": "Número de cuotas en que se realizará el pago",
            "type": "integer",
            "format": "int32",
            "example": 2
          },
          "currency": {
            "description": "Código de moneda en la que se ejecuta la transacción",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "PEN",
            "enum": [
              "PEN",
              "USD"
            ]
          },
          "externalTransactionId": {
            "description": "Identificador único de transacción enviado por el comercio",
            "type": "string",
            "format": "uuid",
            "example": "76dda510-0088-4b82-bed2-4b4225187690"
          },
          "authorizedAmount": {
            "description": "Importe del pedido confirmado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 12.35
          },
          "authorizationCode": {
            "description": "Código de autorización asignado a la aprobación de la transacción por la entidad resolutora",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "170921"
          },
          "actionCode": {
            "description": "Código que identifica la acción a tomar o tomada, así como la razón de la misma. Define la respuesta a la petición de autorización realizada",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "000"
          },
          "traceNumber": {
            "description": "Número asignado para identificar de forma unívoca a la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "77821"
          },
          "transactionDate": {
            "description": "Fecha de la transacción expresada en formato nativo yyMMddHHmmSS",
            "type": "string",
            "example": "190216172227"
          },
          "transactionId": {
            "description": "Identificador de la transacción asociado a la autorización",
            "type": "string",
            "minLength": 15,
            "maxLength": 15,
            "example": "990172014359425"
          },
          "originalTraceNumber": {
            "description": "Número asignado a la venta para identificar de forma unívoca a la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "080154"
          },
          "originalDateTime": {
            "description": "Fecha original de la venta expresada en formato nativo yyMMddHHmmSS",
            "type": "string",
            "example": "190223161321"
          }
        }
      },
      "Recurrence": {
        "type": "object",
        "description": "Entidad que representa información relacionada a la afiliación en el sistema recurrente VisaNet",
        "required": [
          "beneficiaryId",
          "beneficiaryFirstName",
          "beneficiaryLastName",
          "frequency",
          "amount",
          "maxAmount",
          "type"
        ],
        "properties": {
          "beneficiaryId": {
            "description": "Identificador del beneficiario",
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "example": "406123567"
          },
          "beneficiaryFirstName": {
            "description": "Nombres del beneficiario",
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "example": "Juan"
          },
          "beneficiaryLastName": {
            "description": "Apellidos del beneficiario",
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "example": "Perez"
          },
          "frequency": {
            "description": "Frecuencia de pago recurrente:\n- `MONTHLY` Periodicidad mensual\n- `QUARTERLY` Periodicidad trimestral\n- `BIANNUAL` Periodicidad semestral\n- `ANNUAL` Periodicidad anual\n",
            "type": "string",
            "example": "MONTHLY",
            "enum": [
              "MONTHLY",
              "QUARTERLY",
              "BIANNUAL",
              "ANNUAL"
            ]
          },
          "amount": {
            "description": "Importe del cargo para la afiliación a registrar. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 2.35
          },
          "maxAmount": {
            "description": "Importe máximo para los cargos de la afiliación a registrar. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 20
          },
          "type": {
            "description": "Tipo de pago recurrente:\n- `FIXED` Recurrencia fija\n- `VARIABLE` Recurrencia variable\n- `FIXEDINITIAL` Recurrencia fija más pago inicial\n- `VARIABLEINITIAL` Recurrencia variable más pago inicial\n",
            "type": "string",
            "example": "FIXED",
            "enum": [
              "FIXED",
              "VARIABLE",
              "FIXEDINITIAL",
              "VARIABLEINITIAL"
            ]
          }
        }
      },
      "TokenRS": {
        "type": "object",
        "description": "Entidad que representa información de la tokenización para la tarjeta utilizada",
        "properties": {
          "tokenId": {
            "description": "Token identificador del objeto tokenizado",
            "type": "string",
            "minLength": 16,
            "maxLength": 16,
            "example": "7000010032209946"
          },
          "ownerId": {
            "description": "Valor del campo por el cual se tokenizo la tarjeta",
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "example": "jperez@visanet.com.pe"
          },
          "expiration": {
            "description": "Fecha de caducidad del token expresado en formato nativo yyMMddHHmmSS",
            "type": "string",
            "example": "191023160647"
          }
        }
      },
      "Data": {
        "type": "object",
        "description": "Entidad que representa información complementaria del pedido",
        "properties": {
          "CURRENCY": {
            "description": "Código numérico de moneda en la que se ejecuta la transacción",
            "type": "string",
            "minLength": 4,
            "maxLength": 4,
            "example": "0604"
          },
          "ORIGINAL_DATETIME": {
            "description": "Fecha original de la venta expresada en formato nativo yyMMddHHmmSS",
            "type": "string",
            "example": "190223161321"
          },
          "TRANSACTION_DATE": {
            "description": "Fecha de la transacción expresada en formato nativo yyMMddHHmmSS",
            "type": "string",
            "example": "190216172227"
          },
          "TERMINAL": {
            "description": "Número de terminal asociado a la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 8,
            "example": "00000001"
          },
          "ACTION_CODE": {
            "description": "Código que identifica la acción a tomar o tomada, así como la razón de la misma. Define la respuesta a la petición de autorización realizada",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "000"
          },
          "TRACE_NUMBER": {
            "description": "Número asignado para identificar de forma unívoca a la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "77821"
          },
          "ORIGINAL_TRACE": {
            "description": "Número asignado a la venta para identificar de forma unívoca a la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "080154"
          },
          "ECI_DESCRIPTION": {
            "description": "Descripción del código ECI asociado a la autenticación de la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "example": "Transaccion no autenticada pero enviada en canal seguro"
          },
          "ECI": {
            "description": "Código ECI asociado a la autenticación de la transacción",
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "example": "07"
          },
          "CARD": {
            "description": "Número de tarjeta enmascarado usada en la venta",
            "type": "string",
            "minLength": 14,
            "maxLength": 16,
            "example": "457033******4330"
          },
          "MERCHANT": {
            "description": "Código de comercio VisaNet al cual pertenece la transacción",
            "type": "string",
            "minLength": 9,
            "maxLength": 9,
            "example": "341198210"
          },
          "STATUS": {
            "description": "Descripción del estado de la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "example": "Authorized",
            "enum": [
              "Authorized",
              "Not Authorized",
              "Confirmed",
              "Not Confirmed",
              "Verified",
              "Not Verified",
              "Voided",
              "Not Voided",
              "Reject",
              "Review"
            ]
          },
          "ADQUIRENTE": {
            "description": "Nombre de identificación del adquirente. Identifica el punto donde se origina la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "example": "visanet",
            "enum": [
              "visanet",
              "procesos-mc"
            ]
          },
          "BIN": {
            "description": "Número de BIN de la tarjeta usada en la venta. Son los 6 primeros dígitos de una tarjeta",
            "type": "string",
            "minLength": 6,
            "maxLength": 6,
            "example": "457033"
          },
          "BRAND": {
            "description": "Marca de la tarjeta usada en la venta",
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "example": "visa",
            "enum": [
              "visa",
              "amex",
              "mastercard",
              "dinersclub"
            ]
          },
          "SETTLEMENT": {
            "description": "Indica si la operación esta o no esta liquidada",
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "example": "Pending",
            "enum": [
              "Not Applicable",
              "Pending",
              "Automatic",
              "Completed"
            ]
          },
          "ACTION_DESCRIPTION": {
            "description": "Texto descriptivo de la autorización o denegación",
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "example": "Aprobado y completado con exito"
          },
          "ID_UNICO": {
            "description": "Identificador de la transacción asociado a la autorización",
            "type": "string",
            "minLength": 15,
            "maxLength": 15,
            "example": "990172014359425"
          },
          "AMOUNT": {
            "description": "Importe del pedido autorizado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": "12.35"
          },
          "PROCESS_CODE": {
            "description": "Código de proceso de la transacción",
            "type": "string",
            "minLength": 6,
            "maxLength": 6,
            "example": "980000"
          },
          "AUTHORIZED_AMOUNT": {
            "description": "Importe del pedido confirmado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": "12.35"
          },
          "TRANSACTION_ID": {
            "description": "Identificador de la transacción asociado a la autorización",
            "type": "string",
            "minLength": 15,
            "maxLength": 15,
            "example": "990172014359425"
          },
          "AUTHORIZATION_CODE": {
            "description": "Código de autorización asignado a la aprobación de la transacción por la entidad resolutora",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "170921"
          },
          "QUOTA_NUMBER": {
            "description": "Número de cuotas en que se realizó la venta",
            "type": "integer",
            "format": "int32",
            "example": "0"
          },
          "QUOTA_AMOUNT": {
            "description": "Importe aproximado del valor de cuota. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": "0.00"
          },
          "QUOTA_DEFERRED": {
            "description": "Indica si el pago en cuotas debe procesarse con pagos en diferido. `0`, el pago no se procesa en diferido y `1 o 2`, el pago se procesa en diferido",
            "type": "integer",
            "format": "int32",
            "example": "0"
          },
          "QUOTA_NI_PROGRAM": {
            "description": "Código de programa para cuota sin intereses",
            "type": "integer",
            "format": "int32",
            "example": "0"
          },
          "QUOTA_NI_TYPE": {
            "description": "Indicador de tipo de cobro para cuotas sin intereses. `0`, cobro como porcentaje y `1`, cobro como importe",
            "type": "integer",
            "format": "int32",
            "example": "0"
          },
          "QUOTA_NI_AMOUNT": {
            "description": "Valor asociado al tipo de cobro para cuotas sin intereses",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": "0.00"
          },
          "QUOTA_NI_DISCOUNT": {
            "description": "Porcentaje de descuento que corresponde al emisor por el programa cuota sin intereses",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": "0.00"
          },
          "QUOTA_NI_MESSAGE": {
            "description": "Mensaje asociado al cobro para cuota sin intereses",
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "example": ""
          }
        }
      },
      "OrderVoidRQ": {
        "type": "object",
        "description": "Entidad que representa la información del pedido",
        "required": [
          "purchaseNumber",
          "transactionDate"
        ],
        "properties": {
          "purchaseNumber": {
            "description": "Número de pedido generado por el comercio",
            "type": "string",
            "minLength": 1,
            "maxLength": 12,
            "example": "1234567890"
          },
          "transactionDate": {
            "description": "Fecha de la transacción expresada en formato nativo yyyyMMdd",
            "type": "string",
            "minLength": 8,
            "maxLength": 8,
            "example": "20190521"
          }
        }
      },
      "BodyAuthorizationRQ": {
        "type": "object",
        "description": "Entidad que representa información para la autorización de una operación",
        "required": [
          "channel",
          "captureType",
          "countable",
          "order",
          "card"
        ],
        "properties": {
          "channel": {
            "type": "string",
            "description": "Canal desde donde se originó la operación. Puede ser uno de los siguientes valores:\n- `web` Si son operaciones realizadas con el botón de pago web\n- `mobile` Si son operaciones realizadas con la librería de pago app\n- `pasarela` Si son operaciones realizadas con la API de autorización para el producto comercio electrónico\n- `callcenter` Si son operaciones realizadas con la API de autorización para el producto telepago\n- `recurrent` Si son operaciones realizadas con la API de autorización para el producto pago programado\n",
            "example": "web",
            "enum": [
              "web",
              "mobile",
              "pasarela",
              "callcenter",
              "recurrent"
            ]
          },
          "captureType": {
            "type": "string",
            "description": "Tipo de captura en el canal. Siempre es el valor `manual`",
            "example": "manual"
          },
          "countable": {
            "type": "boolean",
            "description": "Tipo de venta a realizar. Si es el valor `true` la venta será contable (Liquidación Automática), Si es el valor `false` la venta será no contable (Liquidación Manual)",
            "example": true
          },
          "order": {
            "$ref": "#/components/schemas/OrderAuthorizationRQ"
          },
          "card": {
            "$ref": "#/components/schemas/Card"
          },
          "cardHolder": {
            "$ref": "#/components/schemas/CardHolder"
          },
          "sponsored": {
            "$ref": "#/components/schemas/Sponsored"
          },
          "authentication": {
            "$ref": "#/components/schemas/Authentication"
          },
          "recurrence": {
            "$ref": "#/components/schemas/Recurrence"
          },
          "currencyConversion": {
            "$ref": "#/components/schemas/CurrencyConversion"
          }
        }
      },
      "BodyVoidRQ": {
        "type": "object",
        "description": "Entidad que representa información para la reversa o anulación de una operación",
        "required": [
          "order"
        ],
        "properties": {
          "order": {
            "$ref": "#/components/schemas/OrderVoidRQ"
          }
        }
      },
      "OrderConfirmationRQ": {
        "type": "object",
        "description": "Entidad que representa la información del pedido",
        "required": [
          "purchaseNumber",
          "amount",
          "currency",
          "transactionId"
        ],
        "properties": {
          "purchaseNumber": {
            "description": "Número de pedido generado por el comercio",
            "type": "string",
            "minLength": 1,
            "maxLength": 12,
            "example": "1234567890"
          },
          "amount": {
            "description": "Importe del pedido autorizado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 12.35
          },
          "authorizedAmount": {
            "description": "Importe del pedido confirmado. Si no se envía este atributo, el importe confirmado es igual al valor del atributo amount. El máximo porcentaje de +/- importe de confirmación respecto al importe autorizado esta configurado a nivel del comercio en los sistemas backoffice. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 10
          },
          "currency": {
            "description": "Código de moneda en la que se ejecuta la transacción",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "PEN",
            "enum": [
              "PEN",
              "USD"
            ]
          },
          "transactionId": {
            "description": "Identificador de la transacción asociado a la autorización",
            "type": "string",
            "minLength": 15,
            "maxLength": 15,
            "example": "990172014359425"
          }
        }
      },
      "BodyConfirmationRQ": {
        "type": "object",
        "description": "Entidad que representa información para la confirmación de una operación",
        "required": [
          "channel",
          "captureType",
          "order"
        ],
        "properties": {
          "channel": {
            "type": "string",
            "description": "Canal desde donde se originó la operación. Puede ser uno de los siguientes valores:\n- `web` Si son operaciones realizadas con el botón de pago web\n- `mobile` Si son operaciones realizadas con la librería de pago app\n- `pasarela` Si son operaciones realizadas con la API de autorización para el producto comercio electrónico\n- `callcenter` Si son operaciones realizadas con la API de autorización para el producto telepago\n",
            "example": "web",
            "enum": [
              "web",
              "mobile",
              "pasarela",
              "callcenter"
            ]
          },
          "captureType": {
            "type": "string",
            "description": "Tipo de captura en el canal. Siempre es el valor `manual`",
            "example": "manual"
          },
          "order": {
            "$ref": "#/components/schemas/OrderConfirmationRQ"
          },
          "sponsored": {
            "$ref": "#/components/schemas/Sponsored"
          }
        }
      },
      "OrderValidateRQ": {
        "type": "object",
        "description": "Entidad que representa la información del pedido",
        "required": [
          "purchaseNumber",
          "amount",
          "currency"
        ],
        "properties": {
          "purchaseNumber": {
            "description": "Número de pedido generado por el comercio",
            "type": "string",
            "minLength": 1,
            "maxLength": 12,
            "example": "1234567890"
          },
          "amount": {
            "description": "Importe del pedido autorizado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 12.35
          },
          "currency": {
            "description": "Código de moneda en la que se ejecuta la transacción",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "PEN",
            "enum": [
              "PEN",
              "USD"
            ]
          }
        }
      },
      "TokenValidateRS": {
        "type": "object",
        "description": "Entidad que representa información de la tokenización para la tarjeta utilizada",
        "properties": {
          "tokenId": {
            "description": "Token identificador del objeto tokenizado",
            "type": "string",
            "minLength": 16,
            "maxLength": 16,
            "example": "7000010032209946"
          },
          "hash": {
            "description": "Hash identificador del objeto tokenizado",
            "type": "string",
            "minLength": 64,
            "maxLength": 64,
            "example": "bf2a948c94c420ddb0e8a1b6a75138ea4a996c3b40045fd53b2fbb809c1900ac"
          },
          "expiration": {
            "description": "Fecha de caducidad del token expresado en formato nativo yyMMddHHmmSS",
            "type": "string",
            "example": "191023160647"
          }
        }
      },
      "Product": {
        "type": "object",
        "description": "Entidad que representa información complementaria del producto tarjeta",
        "properties": {
          "code": {
            "description": "Código del producto",
            "type": "string",
            "minLength": 1,
            "maxLength": 1,
            "example": "F"
          },
          "description": {
            "description": "Descripción del producto",
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "example": "Visa Classic"
          }
        }
      },
      "Source": {
        "type": "object",
        "description": "Entidad que representa información complementaria al tipo de tarjeta",
        "properties": {
          "code": {
            "description": "Código del tipo de tarjeta",
            "type": "string",
            "minLength": 1,
            "maxLength": 1,
            "example": "C"
          },
          "description": {
            "description": "Descripción del tipo de tarjeta",
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "example": "Credit"
          }
        }
      },
      "BinDetail": {
        "type": "object",
        "description": "Entidad que representa información complementaria del BIN de la tarjeta",
        "properties": {
          "bin": {
            "description": "Número de BIN",
            "type": "string",
            "minLength": 6,
            "maxLength": 6,
            "example": "422052"
          },
          "region": {
            "description": "Código de región para el BIN",
            "type": "string",
            "minLength": 1,
            "maxLength": 5,
            "example": "5"
          },
          "country": {
            "description": "Código de país para el BIN",
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "example": "PE"
          },
          "product": {
            "$ref": "#/components/schemas/Product"
          },
          "source": {
            "$ref": "#/components/schemas/Source"
          }
        }
      },
      "BodyValidateRQ": {
        "type": "object",
        "description": "Entidad que representa información para la petición de validación de tarjeta",
        "required": [
          "channel",
          "captureType",
          "order",
          "card"
        ],
        "properties": {
          "channel": {
            "description": "Canal desde donde se originó la operación. Puede ser uno de los siguientes valores:\n- `web` Si son operaciones realizadas con el botón de pago web\n- `mobile` Si son operaciones realizadas con la librería de pago app\n- `pasarela` Si son operaciones realizadas con la API de validación de tarjeta para el producto comercio electrónico\n",
            "type": "string",
            "example": "web",
            "enum": [
              "web",
              "mobile",
              "pasarela"
            ]
          },
          "captureType": {
            "description": "Tipo de captura en el canal. Siempre es el valor `manual`",
            "type": "string",
            "example": "manual"
          },
          "tokenize": {
            "description": "Indica si la tarjeta a validar será o no tokenizada. Si es el valor `true` la tarjeta será tokenizada, si es el valor `false` la tarjeta no será tokenizada",
            "type": "boolean",
            "example": true
          },
          "order": {
            "$ref": "#/components/schemas/OrderValidateRQ"
          },
          "card": {
            "$ref": "#/components/schemas/Card"
          },
          "cardHolder": {
            "$ref": "#/components/schemas/CardHolder"
          }
        }
      },
      "DataAntifraud": {
        "type": "object",
        "description": "Entidad que representa información relacionada a errores en la operación realizada",
        "properties": {
          "TRANSACTION_DATE": {
            "description": "Fecha de la transacción expresada en formato nativo yyMMddHHmmSS",
            "type": "string",
            "example": "190311094831"
          },
          "MESSAGE": {
            "description": "Texto descriptivo de la calificación de la venta en el sistema antifraude",
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "example": "Cybersource Reject"
          },
          "REQUEST_TOKEN": {
            "description": "Firma generada por la calificación de la venta en el sistema antifraude",
            "type": "string",
            "minLength": 1,
            "maxLength": 60,
            "example": "AhjzbwSTK2kz0U+Ku/ArIAFReUhatP0uDPEY25eHSTLF18DBQQOw7Xee"
          },
          "DECISION": {
            "description": "Estado de la transacción después de la calificación de la venta en el sistema antifraude",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "Reject",
            "enum": [
              "Accept",
              "Reject",
              "Review"
            ]
          },
          "ACTION_CODE": {
            "description": "Código que identifica la acción a tomar o tomada, así como la razón de la misma. Define la respuesta a la petición de autorización realizada",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "670"
          },
          "REASON_CODE": {
            "description": "Código de razón obtenido en la respuesta a la calificación de la venta en el sistema antifraude",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "481"
          },
          "REQUEST_ID": {
            "description": "Id único generado por la calificación de la venta en el sistema antifraude",
            "type": "string",
            "minLength": 1,
            "maxLength": 25,
            "example": "5523157110776510804011"
          }
        }
      },
      "Address": {
        "type": "object",
        "description": "Entidad que representa información de dirección",
        "properties": {
          "street1": {
            "description": "Dirección número uno",
            "type": "string",
            "minLength": 1,
            "maxLength": 30,
            "example": "Calle Astorga 831"
          },
          "street2": {
            "description": "Dirección número dos",
            "type": "string",
            "minLength": 1,
            "maxLength": 30,
            "example": "Calle Toledo 821"
          },
          "postalCode": {
            "description": "Código postal",
            "type": "integer",
            "format": "int32",
            "example": 12330
          },
          "city": {
            "description": "Nombre de la ciudad",
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "example": "Lima"
          },
          "state": {
            "description": "Nombre del departamento o estado",
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "example": "Lima"
          },
          "country": {
            "description": "Código ISO-3166 del país",
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "example": "PE"
          }
        }
      },
      "OrderAntifraudRQ": {
        "type": "object",
        "description": "Entidad que representa la información del pedido",
        "required": [
          "purchaseNumber",
          "amount",
          "currency"
        ],
        "properties": {
          "purchaseNumber": {
            "description": "Número de pedido generado por el comercio",
            "type": "string",
            "minLength": 1,
            "maxLength": 12,
            "example": "1234567890"
          },
          "amount": {
            "description": "Importe del pedido autorizado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 12.35
          },
          "currency": {
            "description": "Código de moneda en la que se ejecuta la transacción",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "PEN",
            "enum": [
              "PEN",
              "USD"
            ]
          }
        }
      },
      "OrderAntifraudRS": {
        "type": "object",
        "description": "Entidad que representa la información del pedido",
        "properties": {
          "purchaseNumber": {
            "description": "Número de pedido generado por el comercio",
            "type": "string",
            "minLength": 1,
            "maxLength": 12,
            "example": "1234567890"
          },
          "amount": {
            "description": "Importe del pedido autorizado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 12.35
          },
          "currency": {
            "description": "Código de moneda en la que se ejecuta la transacción",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "PEN",
            "enum": [
              "PEN",
              "USD"
            ]
          },
          "billingAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "shippingAddress": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "Token": {
        "type": "object",
        "description": "Entidad que representa la respuesta de creación de token para la autorización",
        "properties": {
          "tokenId": {
            "description": "Id del token de transacción obtenido en la respuesta al proceso antifraude y usado para la autorización",
            "type": "string",
            "minLength": 32,
            "maxLength": 32,
            "example": "DE2E3AF7C8494278AE3AF7C849027853"
          },
          "expiration": {
            "description": "Fecha de expiración del token de transacción expresada en formato UNIX TimeStamp",
            "type": "string",
            "example": 1551043055832
          },
          "redirectToVbV": {
            "description": "Indicador de participación en verified by visa",
            "type": "boolean",
            "example": false
          }
        }
      },
      "Trip": {
        "type": "object",
        "description": "Entidad que representa la información del viaje",
        "properties": {
          "route": {
            "description": "Concatenación de tramos individuales de viaje. Formato ==> ORIG1-DEST1[:ORIG2-DEST2...:ORIGn-DESTn]",
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "example": "SFO-JFK:JFK-LHR:LHR-CDG"
          },
          "type": {
            "description": "Descriptor del tipo de viaje",
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "example": "Round Trip",
            "enum": [
              "One Way",
              "Round Trip",
              "Multiple City"
            ]
          },
          "depart": {
            "description": "Fecha y hora de salida de viaje. Formato ==> YYYY-MM-DD HH:MM GTM HH:MM",
            "type": "string",
            "minLength": 1,
            "maxLength": 30,
            "example": "2018-07-07 15:25 EST-0500"
          }
        }
      },
      "Passenger": {
        "type": "object",
        "description": "Entidad que representa la información del viaje",
        "properties": {
          "sku": {
            "description": "Código de comercio VisaNet",
            "type": "string",
            "minLength": 9,
            "maxLength": 9,
            "example": "341198210"
          },
          "product": {
            "description": "Nombre completo del pasajero (Nombre+Apellido)",
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "example": "Juan Perez"
          },
          "email": {
            "description": "Correo electrónico del pasajero",
            "type": "string",
            "minLength": 1,
            "maxLength": 35,
            "example": "juan.p@latinmail.com"
          },
          "firstname": {
            "description": "Nombres del pasajero",
            "type": "string",
            "minLength": 1,
            "maxLength": 25,
            "example": "Juan"
          },
          "lastname": {
            "description": "Apellidos del pasajero",
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "example": "Perez"
          },
          "code": {
            "description": "Número de documento (Pasaporte, DNI, etc)",
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "example": "42058214"
          },
          "phone": {
            "description": "Teléfono del pasajero",
            "type": "string",
            "minLength": 1,
            "maxLength": 10,
            "example": "5112224444"
          },
          "status": {
            "description": "Descriptor de la clase asociada al pasajero",
            "type": "string",
            "minLength": 1,
            "maxLength": 8,
            "example": "Standard",
            "enum": [
              "Standard",
              "Gold",
              "Platinum"
            ]
          },
          "type": {
            "description": "Tipo de pasajero. Puede ser los siguientes tipos:\n- `ADT` Adulto\n- `CNN` Niño\n- `INF` Infante\n- `YTH` Joven\n- `STU` Estudiante\n- `SCR` Jubilado\n- `MIL` Militar\n",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "ADT",
            "enum": [
              "ADT",
              "CNN",
              "INF",
              "YTH",
              "STU",
              "SCR",
              "MIL"
            ]
          },
          "price": {
            "description": "Cantidad total de la transacción para el pasajero",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 12.35
          }
        }
      },
      "MerchantDefineData": {
        "type": "object",
        "description": "Entidad que representa a datos adicionales enviados por el comercio. Ejemplo:\n- MDD5  | AFKI345\n- MDD19 | LIM\n- MDD20 | AQP\n- MDD21 | FRECUENTE\n- MDD93 | 20187654324\n",
        "additionalProperties": {
          "type": "string"
        }
      },
      "DataMapAntifraud": {
        "type": "object",
        "description": "Entidad que representa información complementaria del pedido",
        "properties": {
          "TRANSACTION_DATE": {
            "description": "Fecha de la transacción expresada en formato nativo yyMMddHHmmSS",
            "type": "string",
            "example": "190216172227"
          },
          "MESSAGE": {
            "description": "Texto descriptivo de la calificación de la venta en el sistema antifraude",
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "example": "Cybersource Accept"
          },
          "REQUEST_TOKEN": {
            "description": "Firma generada por la calificación de la venta en el sistema antifraude",
            "type": "string",
            "minLength": 1,
            "maxLength": 60,
            "example": "AhjzbwSTKrk3lZpnsTJIIAFReUaCTVMuDbhka/DJpJli6+BgoIF4akWA"
          },
          "DECISION": {
            "description": "Estado de la transacción después de la calificación de la venta en el sistema antifraude",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "Accept",
            "enum": [
              "Accept",
              "Reject",
              "Review"
            ]
          },
          "ACTION_CODE": {
            "description": "Código que identifica la acción a tomar o tomada, así como la razón de la misma. Define la respuesta a la petición de autorización realizada",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "000"
          },
          "REASON_CODE": {
            "description": "Código de razón obtenido en la respuesta a la calificación de la venta en el sistema antifraude",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "100"
          },
          "REQUEST_ID": {
            "description": "Id único generado por la calificación de la venta en el sistema antifraude",
            "type": "string",
            "minLength": 1,
            "maxLength": 25,
            "example": "5510476034476579304008"
          }
        }
      },
      "BodyAntifraudRQ": {
        "type": "object",
        "description": "Entidad que representa información para la petición de calificación de una venta",
        "required": [
          "channel",
          "clientIp",
          "deviceFingerprintId",
          "order",
          "card",
          "cardHolder"
        ],
        "properties": {
          "channel": {
            "type": "string",
            "description": "Canal desde donde se originó la operación. Puede ser uno de los siguientes valores:\n- `web` Si son operaciones realizadas con la API de autorización para el producto comercio electrónico\n- `callcenter` Si son operaciones realizadas con la API de autorización para el producto telepago\n",
            "example": "web",
            "enum": [
              "web",
              "callcenter"
            ]
          },
          "clientIp": {
            "type": "string",
            "description": "Dirección IP desde donde se originó la operación.",
            "example": "24.252.107.29"
          },
          "deviceFingerprintId": {
            "type": "string",
            "format": "uuid",
            "description": "Id del dispositivo.",
            "example": "b8c7806d-6317-4b7c-bfab-18ef5d6fc5c5"
          },
          "merchantDefineData": {
            "$ref": "#/components/schemas/MerchantDefineData"
          },
          "billingAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "shippingAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "order": {
            "$ref": "#/components/schemas/OrderAntifraudRQ"
          },
          "card": {
            "$ref": "#/components/schemas/Card"
          },
          "cardHolder": {
            "$ref": "#/components/schemas/CardHolder"
          },
          "currencyConversion": {
            "$ref": "#/components/schemas/CurrencyConversion"
          },
          "trip": {
            "$ref": "#/components/schemas/Trip"
          },
          "passengers": {
            "type": "array",
            "items": {
              "type": "object",
              "$ref": "#/components/schemas/Passenger"
            }
          }
        }
      },
      "OrderElegibilityRQ": {
        "type": "object",
        "description": "Entidad que representa la información del pedido",
        "required": [
          "amount",
          "currency"
        ],
        "properties": {
          "amount": {
            "description": "Importe del pedido autorizado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 12.35
          },
          "currency": {
            "description": "Código de moneda en la que se ejecuta la transacción",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "PEN",
            "enum": [
              "PEN",
              "USD"
            ]
          }
        }
      },
      "OrderElegibilityRS": {
        "type": "object",
        "description": "Entidad que representa la información del pedido",
        "properties": {
          "amount": {
            "description": "Importe del pedido autorizado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 12.35
          },
          "currency": {
            "description": "Código de moneda en la que se ejecuta la transacción",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "PEN",
            "enum": [
              "PEN",
              "USD"
            ]
          }
        }
      },
      "CardElegibilityRQ": {
        "type": "object",
        "description": "Entidad que representa información de la tarjeta",
        "required": [
          "binNumber",
          "last4Digits"
        ],
        "properties": {
          "binNumber": {
            "description": "Número de BIN de la tarjeta foránea",
            "type": "string",
            "minLength": 6,
            "maxLength": 6,
            "example": "400217"
          },
          "last4Digits": {
            "description": "Ultimos 4 dígitos de la tarjeta foránea",
            "type": "string",
            "minLength": 4,
            "maxLength": 4,
            "example": "6277"
          }
        }
      },
      "CardElegibilityRS": {
        "type": "object",
        "description": "Entidad que representa información de la tarjeta",
        "properties": {
          "binNumber": {
            "description": "Número de BIN de la tarjeta foránea",
            "type": "string",
            "minLength": 6,
            "maxLength": 6,
            "example": "400217"
          },
          "last4Digits": {
            "description": "Ultimos 4 dígitos de la tarjeta foránea",
            "type": "string",
            "minLength": 4,
            "maxLength": 4,
            "example": "6277"
          }
        }
      },
      "Terms": {
        "type": "object",
        "description": "Entidad que contiene los términos y condiciones de la elegibilidad",
        "properties": {
          "preDisclaimer": {
            "description": "Es la exención de responsabilidad que se mostrará antes de aceptar DCC",
            "type": "string",
            "minLength": 1,
            "maxLength": 900,
            "example": "ATTENTION! THIS IS NOT A RECEIPT. PLEASE READ BELOW. You have the choice of paying your bill in either: PEN 55.99 or USD 17.33. Once you have made your choice you need to tell the shop assistant which currency you wish to be billed in. EXCH RATE PEN:USD0.3095"
          },
          "postDisclaimer": {
            "description": "Es la exención de responsabilidad que se mostrará después de que se acepte DCC",
            "type": "string",
            "minLength": 1,
            "maxLength": 900,
            "example": "I chose to pay in USD. My choice is final. Transactions can be conducted in PEN which may be subject to usual conversion fees by the card issuer. The transaction is based on the Fintrax Wholesale Rate plus 3.5% international conversion margin. This is not an additional fee and replaces conversion charges normally applied.  This currency conversion service is provided to the merchant by Fintrax Group.Your transaction is guaranteed by the Fintrax 'Pay Less with Yes' Currency Guarantee!"
          },
          "choiceText": {
            "description": "Este texto se mostrará en el formulario, indicando la opción de los clientes de pagar con la moneda de su tarjeta o la moneda local",
            "type": "string",
            "minLength": 1,
            "maxLength": 900,
            "example": "You have the choice of paying your bill in either: PEN 55.99 or USD 17.33. Once you have made your choice you need to tell the shop assistant which currency you wish to be billed in. EXCH RATE PEN:USD 0.3095"
          }
        }
      },
      "BodyElegibilityRQ": {
        "type": "object",
        "description": "Entidad que representa información para la petición de elegibilidad DCC",
        "required": [
          "order",
          "card"
        ],
        "properties": {
          "order": {
            "$ref": "#/components/schemas/OrderElegibilityRQ"
          },
          "card": {
            "$ref": "#/components/schemas/CardElegibilityRQ"
          }
        }
      },
      "BodyRefundIndRQ": {
        "type": "object",
        "required": [
          "ruc",
          "comment",
          "externalReferenceId",
          "amount"
        ],
        "properties": {
          "ruc": {
            "type": "string",
            "minLength": 11,
            "maxLength": 11,
            "description": "Número de RUC (Registro Único de Contribuyentes) del comercio que realizará la devolución de la venta",
            "example": "20341198217"
          },
          "comment": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Comentarios relacionados a la devolución de la venta",
            "example": "Devolución de venta"
          },
          "externalReferenceId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "description": "Identificador único de transacción enviado por el comercio",
            "example": "12345678901234567890"
          },
          "amount": {
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "description": "Importe de devolución. Precisión hasta 8 valores enteros con 2 decimales",
            "example": 12.35
          }
        }
      },
      "BodyRefundRS": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "integer",
            "format": "int32",
            "description": "Si hay algún error el valor de este campo es diferente a cero",
            "example": 0
          },
          "errorMessage": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10,
            "description": "Si todo es correcto se mostrará el mensaje OK",
            "example": "OK"
          },
          "millis": {
            "type": "integer",
            "format": "int32",
            "description": "Tiempo de ejecución de la operación",
            "example": 2001
          },
          "transactionUUID": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador único de transacción enviado por el comercio",
            "example": "76dda510-0088-4b82-bed2-4b4225187690"
          },
          "transactionDate": {
            "type": "string",
            "description": "Fecha de la operación expresada en formato UNIX TimeStamp",
            "example": 1550355747781
          },
          "data": {
            "$ref": "#/components/schemas/DataRefund"
          }
        }
      },
      "DataRefund": {
        "type": "object",
        "properties": {
          "CODIGOCOMERCIO": {
            "type": "string",
            "minLength": 9,
            "maxLength": 9,
            "description": "Código de comercio VisaNet",
            "example": "341198210"
          },
          "CODIGODEVOLUCION": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Código de devolución asignado a la operación",
            "example": "517822"
          },
          "CODERROR": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "description": "Código de error. Puede ser uno de los siguientes valores:\n- `100` Registro correcto\n- `110` Registro con error\n",
            "example": "100"
          },
          "DSCERROR": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Descripción asociada a la operación de devolución",
            "example": "Devolucción individual procesada con éxito"
          },
          "IDTRANSACCION": {
            "type": "string",
            "minLength": 15,
            "maxLength": 15,
            "description": "Identificador de la transacción asociado a la autorización",
            "example": "990172014359425"
          },
          "DATETIMERESPONSE": {
            "type": "string",
            "description": "Fecha de la operación",
            "example": "11/05/2017 18:25:02:3847"
          }
        }
      },
      "BodyRefundGrpRQ": {
        "type": "object",
        "required": [
          "ruc",
          "refunds"
        ],
        "properties": {
          "ruc": {
            "type": "string",
            "minLength": 11,
            "maxLength": 11,
            "description": "Número de RUC (Registro Único de Contribuyentes) del comercio que realizará la devolución de la venta",
            "example": "20341198217"
          },
          "refunds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Refund"
            }
          }
        }
      },
      "Refund": {
        "type": "object",
        "required": [
          "transactionId",
          "comment",
          "externalReferenceId",
          "amount"
        ],
        "properties": {
          "transactionId": {
            "type": "string",
            "minLength": 15,
            "maxLength": 15,
            "description": "Identificador de la transacción asociado a la autorización",
            "example": "990172014359425"
          },
          "comment": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Comentarios relacionados a la devolución de la venta",
            "example": "Devolución de venta"
          },
          "externalReferenceId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "description": "Identificador único de transacción enviado por el comercio",
            "example": "12345678901234567890"
          },
          "amount": {
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "description": "Importe de devolución. Precisión hasta 8 valores enteros con 2 decimales",
            "example": 12.35
          }
        }
      },
      "BodyQueryRefundRQ": {
        "type": "object",
        "required": [
          "tipoBusqueda",
          "codigoBusqueda"
        ],
        "properties": {
          "tipoBusqueda": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "description": "Busca devolución asociada al código ingresado. Siempre es 01",
            "example": "01"
          },
          "codigoBusqueda": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Código de devolución asignado a la operación",
            "example": "517822"
          }
        }
      },
      "DataQueryRefund": {
        "type": "object",
        "properties": {
          "DEVOLUCIONES": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1000,
            "description": "Información detallada de la devolución. El campo `ESTADO` en la trama de respuesta puede tomar uno de los siguientes valores:\n- `P` (Pendiente) Estado intermedio, la operación se encuentra pendiente de respuesta. Seguir consultando\n- `E` (Enviado) Estado intermedio, el registro fue enviado para la evaluación. Seguir consultando\n- `S` (Exitoso) Estado final, devolución aceptada\n- `T` (Rechazado) Estado final, devolución rechazada\n- `X` (Eliminado) Estado final, el registro de solicitud de devolución fue eliminado\n- `B` (Pendiente Supervisión) Estado intermedio, por el monto solicitado para devolución se requiere una aprobación\n- `C` (Aprobado Supervisión) Estado intermedio, por el monto solicitado para devolución se requiere una aprobación\n- `F` (Rechazado Supervisión) Estado intermedio, por el monto solicitado para devolución se requiere una aprobación\n",
            "example": "[ {\n \"CODIGODEVOLUCION\" : \"517822\",\n \"IMPORTEDEVUELTO\" : \"3\",\n \"CODIGOAUTORIZACION\" : \"134959\",\n \"COMERCIO\" : \"341198207\",\n \"FECHAREGISTRO\" : \"11/05/2017\",\n \"IDTRANSACCION\" : \"991170180003769\",\n \"USUARIOREGISTRO\" : \"usuariodemo@visanet.com.pe - José Vila\",\n \"ESTADO\" : \"P\",\n \"FECHAVENTA\" : \"18/01/2017\",\n \"NUMEROTARJETA\" : \"447410******8588 \",\n \"MONEDA\" : \"Soles\",\n \"FECHAPROCESO\" : \"01/01/0001\",\n \"DESCRIPCIONESTADO\" : \"Pendiente\",\n \"IMPORTEORIGINAL\" : \"27\"\n} ]"
          },
          "CODERROR": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "description": "Código de error. Puede ser uno de los siguientes valores:\n- `100` Registro correcto\n- `110` Registro con error\n",
            "example": "100"
          },
          "DSCERROR": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Descripción asociada a la operación de devolución",
            "example": "La consulta se realizó con éxito"
          },
          "DATETIMERESPONSE": {
            "type": "string",
            "description": "Fecha de la operación",
            "example": "11/05/2017 18:25:02:3847"
          }
        }
      },
      "BodyQueryRefundRS": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "integer",
            "format": "int32",
            "description": "Si hay algún error el valor de este campo es diferente a cero",
            "example": 0
          },
          "errorMessage": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10,
            "description": "Si todo es correcto se mostrará el mensaje OK",
            "example": "OK"
          },
          "millis": {
            "type": "integer",
            "format": "int32",
            "description": "Tiempo de ejecución de la operación",
            "example": 2001
          },
          "transactionUUID": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador único de transacción enviado por el comercio",
            "example": "76dda510-0088-4b82-bed2-4b4225187690"
          },
          "transactionDate": {
            "type": "string",
            "description": "Fecha de la operación expresada en formato UNIX TimeStamp",
            "example": 1550355747781
          },
          "data": {
            "$ref": "#/components/schemas/DataQueryRefund"
          }
        }
      },
      "BodyAuthorizationRSOK": {
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/Header"
          },
          "fulfillment": {
            "$ref": "#/components/schemas/Fulfillment"
          },
          "order": {
            "$ref": "#/components/schemas/OrderRS"
          },
          "token": {
            "$ref": "#/components/schemas/TokenRS"
          },
          "dataMap": {
            "$ref": "#/components/schemas/DataMap"
          }
        }
      },
      "BodyAuthorizationRSERR": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "integer",
            "format": "int32",
            "description": "Código de error de la operación. Siempre es el valor `400`",
            "example": 400
          },
          "errorMessage": {
            "type": "string",
            "description": "Mensaje de error de la operación",
            "example": "Not Authorized"
          },
          "header": {
            "$ref": "#/components/schemas/Header"
          },
          "data": {
            "$ref": "#/components/schemas/Data"
          }
        }
      },
      "BodyVoidRSOK": {
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/Header"
          },
          "fulfillment": {
            "$ref": "#/components/schemas/Fulfillment"
          },
          "order": {
            "$ref": "#/components/schemas/OrderRS"
          },
          "dataMap": {
            "$ref": "#/components/schemas/DataMap"
          }
        }
      },
      "BodyVoidRSERR": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "integer",
            "format": "int32",
            "description": "Código de error de la operación. Siempre es el valor `400`",
            "example": 400
          },
          "errorMessage": {
            "type": "string",
            "description": "Mensaje de error de la operación",
            "example": "Transaction not voided"
          },
          "header": {
            "$ref": "#/components/schemas/Header"
          },
          "data": {
            "$ref": "#/components/schemas/Data"
          }
        }
      },
      "BodyConfirmationRSOK": {
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/Header"
          },
          "order": {
            "$ref": "#/components/schemas/OrderRS"
          },
          "dataMap": {
            "$ref": "#/components/schemas/DataMap"
          }
        }
      },
      "BodyConfirmationRSERR": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "integer",
            "format": "int32",
            "description": "Código de error de la operación. Siempre es el valor `400`",
            "example": 400
          },
          "errorMessage": {
            "type": "string",
            "description": "Mensaje de error de la operación",
            "example": "No information available"
          },
          "data": {
            "$ref": "#/components/schemas/Data"
          }
        }
      },
      "BodyRetrieveRSOK": {
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/Header"
          },
          "fulfillment": {
            "$ref": "#/components/schemas/Fulfillment"
          },
          "order": {
            "$ref": "#/components/schemas/OrderRS"
          },
          "dataMap": {
            "$ref": "#/components/schemas/DataMap"
          }
        }
      },
      "BodyRetrieveRSERR": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "integer",
            "format": "int32",
            "description": "Código de error de la operación. Siempre es el valor `400`",
            "example": 400
          },
          "errorMessage": {
            "type": "string",
            "description": "Mensaje de error de la operación",
            "example": "No information available"
          },
          "header": {
            "$ref": "#/components/schemas/Header"
          },
          "data": {
            "$ref": "#/components/schemas/Data"
          }
        }
      },
      "BodyValidateRSOK": {
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/Header"
          },
          "order": {
            "$ref": "#/components/schemas/OrderRS"
          },
          "token": {
            "$ref": "#/components/schemas/TokenValidateRS"
          },
          "binDetail": {
            "$ref": "#/components/schemas/BinDetail"
          }
        }
      },
      "BodyValidateRSERR": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "integer",
            "format": "int32",
            "description": "Código de error de la operación. Siempre es el valor `400`",
            "example": 400
          },
          "errorMessage": {
            "type": "string",
            "description": "Mensaje de error de la operación",
            "example": "Not Verified"
          },
          "header": {
            "$ref": "#/components/schemas/Header"
          },
          "data": {
            "$ref": "#/components/schemas/Data"
          }
        }
      },
      "BodyAntifraudRSOK": {
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/Header"
          },
          "order": {
            "$ref": "#/components/schemas/OrderAntifraudRS"
          },
          "token": {
            "$ref": "#/components/schemas/Token"
          },
          "dataMap": {
            "$ref": "#/components/schemas/DataMapAntifraud"
          }
        }
      },
      "BodyAntifraudRSERR": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "integer",
            "format": "int32",
            "description": "Código de error de la operación. Siempre es el valor `400`",
            "example": 400
          },
          "errorMessage": {
            "type": "string",
            "description": "Mensaje de error de la operación",
            "example": "Transaction has been declined"
          },
          "header": {
            "$ref": "#/components/schemas/Header"
          },
          "data": {
            "$ref": "#/components/schemas/DataAntifraud"
          }
        }
      },
      "BodyElegibilityRSOK": {
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/Header"
          },
          "order": {
            "$ref": "#/components/schemas/OrderElegibilityRS"
          },
          "card": {
            "$ref": "#/components/schemas/CardElegibilityRS"
          },
          "currencyConversion": {
            "$ref": "#/components/schemas/CurrencyConversion"
          },
          "terms": {
            "$ref": "#/components/schemas/Terms"
          }
        }
      },
      "BodyElegibilityRSERR": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "integer",
            "format": "int32",
            "description": "Código de error de la operación. Siempre es el valor `400`",
            "example": 400
          },
          "errorMessage": {
            "type": "string",
            "description": "Mensaje de error de la operación",
            "example": "Transaction has been declined"
          },
          "header": {
            "$ref": "#/components/schemas/Header"
          },
          "data": {
            "$ref": "#/components/schemas/Data"
          }
        }
      },
      "BodyQueryBinRSOK": {
        "type": "object",
        "properties": {
          "binNumber": {
            "type": "string",
            "minLength": 6,
            "maxLength": 6,
            "description": "Número de BIN",
            "example": "422052"
          },
          "binType": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1,
            "description": "Tipo de BIN, (C) es crédito y (D) es débito",
            "example": "C",
            "enum": [
              "C",
              "D"
            ]
          },
          "hasInstallments": {
            "type": "boolean",
            "description": "Indica si BIN presenta o no presenta cuotas",
            "example": true
          },
          "installments": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Cuotas que presenta el BIN",
            "example": [
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11,
              12,
              13,
              14,
              15,
              16,
              17,
              18,
              19,
              20,
              21,
              22,
              23,
              24
            ]
          }
        }
      },
      "BodyQueryBinRSERR": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "integer",
            "format": "int32",
            "description": "Código de error de la operación. Siempre es el valor `404`",
            "example": 404
          },
          "errorMessage": {
            "type": "string",
            "description": "Mensaje de error de la operación",
            "example": "BIN_NUMBER not found."
          }
        }
      }
    }
  },
  "paths": {
    "/api.security/v1/security": {
      "post": {
        "tags": [
          "Seguridad"
        ],
        "summary": "RESTful API para la generación del token de seguridad",
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Token de seguridad generado con éxito",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "minLength": 987,
                  "maxLength": 987,
                  "example": "eyJraWQiOiJmWk1tV3pZR0RBckxHektvalNCK2w3SjFhMnNPXC9zQnNwOTlNNmNuM3F5MD0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiIyN2RmZjM1ZS1jNzgwLTRjZWUt..."
                }
              }
            }
          },
          "401": {
            "description": "Acceso no autorizado",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "minLength": 20,
                  "maxLength": 20,
                  "example": "Unauthorized access"
                }
              }
            }
          }
        }
      }
    },
[...]
